
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DemSoKhoangTrang</title>
    <style>
        div {
            text-align: center;
            font-size: 20px;
        }
    </style>
</head>
<body>
    
    <div>
        <h2>Đếm số khoảng trắng trong 1 chuỗi dữ liệu truyền vào</h2>
        <form action="/Home/DemSoKhoangTrang" method="post">
            <label for="chuoi">Nhập vào chuỗi dữ liệu: </label>
            <input type="text" name="chuoi" />
            <input type="submit" value="Đếm số khoảng trắng" />
        </form><br />
        <label>@ViewBag.Chuoi</label><br />
        <label>@ViewBag.SoKhoangTrang</label>
    </div>
</body>
</html>
