
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Menu</title>
    <style>
        a{
            color: blue;
            font-size: 25px;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <h1>Danh sách các hàm</h1>
    <div>
        <ol>
            <li>
                <a href="/Home/DinhDangNgayThang">Viết hàm để định dạng ngày tháng năm, 
                giờ phút giây</a>
            </li>
            <li><a href="/Home/DocDaySoBatKi">Viết hàm để Đọc dãy số bất kỳ</a></li>
            <li><a href="/Home/DocSoTienBatKi">Viết hàm đọc số tiền bất kỳ</a></li>
            <li>
                <a href="/Home/RandomKyTuVaSo">
                    Viết hàm random chuỗi ký tự và số có chiều dài bất kỳ 
                    ( quy định được chiều dài chuỗi, số lượng ký tự số trong chuỗi)
                </a>
            </li>
            <li>
                <a href="/Home/TraVeNgayDauTien">
                    Viết hàm truyền vào Tháng và Năm,
                    trả về ngày đầu tiên của tháng
                </a>
            </li>
            <li>
                <a href="/Home/TraVeNgayCuoiThang">
                    Viết hàm truyền vào Tháng và Năm,
                    trả về ngày cuối tháng
                </a>
            </li>
            <li>
                <a href="/Home/TraVeNgayDauTuan">
                    Viết hàm truyền vào ngày bất kỳ, trả về ngày đầu tuần ( thứ 2 của tuần đó)
                </a>
            </li>
            <li>
                <a href="/Home/TraVeNgayCuoiTuan">
                    Viết hàm truyền vào ngày bất kỳ, trả về ngày cuối tuần ( chủ nhật của tuần đó)
                </a>
            </li>
            <li>
                <a href="/Home/DemSoKhoangTrang">
                    Viết hàm đếm số khoản trắng trong 1 chuỗi dữ liệu truyền vào.
                </a>
            </li>
            <li>
                <a href="/Home/KiemTraEmail">
                    Viết hàm kiểm tra Tính đúng đắn của 1 địa chỉ email truyền vào.
                </a>
            </li>
            <li>
                <a href="/Home/CatChuoiHoTen">
                    Viết hàm cắt chuỗi họ tên ( tách ra họ và tên đệm khi một chuổi 
                    họ tên được truyền vào)
                </a>
            </li>
            <li>
                <a href="/Home/LamTronSoThapPhan">
                    Viết hàm làm tròn các số thập phân truyền vào theo các dạng: 
                    Floor, Truncate, Round, Ceiling
                </a>
            </li>
            <li>
                <a href="/Home/VietHoaKyTuDau">
                    Viết hàm xử lý viết hoa đầu mỗi ký tự đâu tiên theo tên được truyền vào
                </a>
            </li>
        </ol>
    </div>
</body>
</html>
